
<ion-content [fullscreen]="true">


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">Peliculas Nuevas</ion-col>
     
    </ion-row>
  </ion-grid>


 <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

 
 <ion-grid fixed>
  <ion-row>
    <ion-col size="12">Cartelera</ion-col>
   
  </ion-row>
</ion-grid>

 <app-slideshow-poster  [peliculas]="peliculasRecientes"></app-slideshow-poster>

 <ion-grid fixed>
  <ion-row>
    <ion-col size="12">Populares</ion-col>
   
  </ion-row>
</ion-grid>

 <app-slideshow-pares  [peliculas]="peliculasPopulares"
                        (cargarMas)="cargarMas()"></app-slideshow-pares>

</ion-content>
